@import url("https://fonts.googleapis.com/css?family=Merriweather:700|IBM+Plex+Sans:500");
body{
    background: var(--background);
    color: var(--foreground);
    font-size: var(--font-size);
   
   
}